/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-roboto: "Roboto", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #1f2937;
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}

header {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hover\:text-secondary {
  color: rgb(182, 182, 182); /* Add a hover effect color */
}

.text-secondary {
  color: #ff6f61; /* Your secondary color */
}

/* CSS for hover animation */
a {
  position: relative; /* Position to be relative for positioning the pseudo-element */
}

a::after {
  content: ""; /* Adds a pseudo-element */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Initially set to 0 width */
  height: 2px; /* Line thickness */
  background-color: white; /* Line color */
  transition: width 0.4s ease, transform 0.4s ease;
}

a:hover::after {
  width: 100%; /* Expands the width to 100% when hovered */
  transform: scaleX(1); /* Ensures the line expands from left to right */
}

/* Ensure the line stays visible under "Home" */
a.line-permanent::after {
  width: 100%; /* Keep the line visible */
  transform: scaleX(1);
}
